
.information__main {
    width: 100%;
    height: 100vh;
}

.information__main h6 {
    margin: 0;
    color: #545454;
    font-size: 17px;
    font-weight: 600;
}

.information__main p {
    margin: 0;
    color: #a5a5a5;
    font-size: 17px;
}

.information__inner {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 70%;
}

.information__inner .information__inner__left {
    width: 35%;
}

.information__inner .information__inner__left .information__general {
    height: fit-content;
    margin: 10px 10px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information__inner .information__inner__left .information__general > img {
   height: 175px;
   width: 175px;
   border-radius: 100px;
   margin-bottom: 10px;
}

.information__inner .information__inner__left .information__company {
    height: fit-content;
    margin: 10px 10px 20px 0px;
}

.information__inner .information__inner__right {
    width: 60%;
    padding-left: 40px;
    border-left: 2px solid #dddddd;
}

.information__inner .information__inner__right .information__address {
    height: 100%;
    margin: 10px 20px 20px -20%;
}

.information__inner .information__inner__right .information__address .information__address__map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    margin: 20px 0px;
}

.information__inner .information__inner__right .information__address .information__address__map > img {
    width: 80%;
    border-radius: 20px;
}

.information__inner .information__inner__right .information__address .information__address__map > p {
    margin: 0;
    color: #a5a5a5;
    font-size: 14px;
}

.information__inner .information__inner__right .information__address .information__address__map > p > span {
    margin: 0;
    color: #545454;
    font-size: 14px;
    font-weight: 600;
}

.outer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}