
.profile__main {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    background-color: aliceblue;
    margin: 30px;
    overflow: hidden;
}

.profile__inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
}